<web-app>
    <servlet>
        <servlet-name>UsersControler</servlet-name>
        <servlet-class>ru.job4j.mvcjstl05.UsersControler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsersControler</servlet-name>
        <url-pattern>/ucontr</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EchoServlet</servlet-name>
        <servlet-class>ru.job4j.webproject01.EchoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EchoServlet</servlet-name>
        <url-pattern>/echo01</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UsersServlet</servlet-name>
        <servlet-class>ru.job4j.crud02.UsersServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsersServlet</servlet-name>
        <url-pattern>/crud02</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>ru.job4j.servlet03.DeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/delete03</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>ru.job4j.servlet03.EditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/edit03</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NewuserServlet</servlet-name>
        <servlet-class>ru.job4j.servlet03.NewuserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewuserServlet</servlet-name>
        <url-pattern>/newuser03</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserList</servlet-name>
        <servlet-class>ru.job4j.servlet03.UserListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserList</servlet-name>
        <url-pattern>/list03</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UsersControler</servlet-name>
        <servlet-class>ru.job4j.mvcjstl05.UsersControler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsersControler</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>